{% extends 'base.html' %}

{% block title %}Lista de Instructores SENA - SENA APP{% endblock %}

{% block content %}
<div class="row mb-4 content-header">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Lista de Instructores SENA</h2>
            <div>
                <span class="total">Total: {{ total_instructores }} Instructores</span>
                <a href="{% url 'admin:instructores_instructor_add' %}" class="btn btn-custom-primary ms-2">
                    <i class="fas fa-plus-circle me-1"></i> Nuevo Instructor
                </a>
            </div>
        </div>
    </div>
</div>
{% if lista_instructores %}
<div class="row">
    {% for instructor in lista_instructores %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card card-aprendiz h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ instructor.nombre_completo }} </h5>
                <h6 class="card-subtitle mb-3 text-muted">{{ instructor.nivel_educativo }}</h6>
                <h6 class="card-subtitle mb-3 text-muted">{{ instructor.especialidad }}</h6>
                <hr>
                <ul class="list-group list-group-flush flex-grow-1">
                    <li class="list-group-item">
                        <strong>Documento:</strong><a href ="instructor/{{instructor.id}}"> {{ instructor.documento_identidad }}</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Correo:</strong> <a href="mailto:{{ aprendiz.correo }}">{{ instructor.correo }}</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Teléfono:</strong> {{ instructor.telefono }}
                    </li>
                    <li class="list-group-item">
                        <strong>Ciudad:</strong> {{ instructor.ciudad }}
                    </li>
                    <li class="list-group-item">
                        <strong>Nacimiento:</strong> {{ instructor.fecha_nacimiento|date:"d/m/Y" }}
                    </li>
                </ul>
                <a href="{% url 'admin:instructores_instructor_change' instructor.pk %}" 
                    class="btn btn-sm btn-custom-secondary mt-auto">
                    Editar Instructor
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-custom" role="alert">
            <h4 class="alert-heading">No hay instructores registrados</h4>
            <p>Aún no se han registrado instructores en el sistema.</p>
            <hr>
            <p class="mb-0">
                <a href="{% url 'admin:instructores_instructor_add' %}" class="btn btn-custom-primary">
                    Registrar Primer Instructor
                </a>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}