{% extends 'base.html' %}

{% block title %}Inicio - SENA APP{% endblock %}

{% block content %}

<div class="card text-center welcome-card">
    
    <img src="https://www.sena.edu.co/es-co/Noticias/NoticiasImg/Aphiton_14agosto2019.jpg" class="card-img" alt="Estudiantes aprendiendo" style="height: 60vh; object-fit: cover;">
    
    <div class="card-img-overlay">
        <h1 class="card-title display-4">Bienvenido a SENA APP</h1>
        <p class="card-text lead">
            Aquí puedes consultar la información de los aprendices  y instructores que se encuentran en el SENA. <br>
            Ademas encuentras todos los programas que existen en el SENA, con su curso correspondiente.
        </p>
                <div class="d-flex gap-3 mt-4">
            <a href="{% url 'aprendices:lista_aprendices' %}" class="btn btn-primary">Ir a Aprendices</a>
            <a href="{% url 'instructores:lista_instructores' %}" class="btn btn-primary">Ir a Instructores</a>
            <a href="{% url 'programas:lista_programas' %}" class="btn btn-primary">Ir a Programas</a>
            <a href="{% url 'aprendices:lista_cursos' %}" class="btn btn-primary">Ir a Cursos</a>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lista de Aprendices</h5>
                <p class="card-text">Consulta todos los aprendices registrados en el sistema.</p>
                <p class="card-text"><strong>Total de Aprendices:</strong> {{ total_aprendices }}</p>
                <a href="{% url 'aprendices:lista_aprendices' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lista de Instructores</h5>
                <p class="card-text">Consulta todos los instructores registrados en el sistema.</p>
                <p class="card-text"><strong>Total de Instructores:</strong> {{ total_instructores }}</p>
                <a href="{% url 'instructores:lista_instructores' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lista de Programas</h5>
                <p class="card-text">Consulta todos los programas registrados en el sistema.</p>
                <p class="card-text"><strong>Total de Programas:</strong> {{ total_programas }}</p>
                <a href="{% url 'programas:lista_programas' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mt-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lista de Cursos</h5>
                <p class="card-text">Consulta todos los Cursos registrados en el sistema.</p>
                <p class="card-text"><strong>Total de Cursos:</strong> {{ total_cursos }}</p>
                <p class="card-text"><strong>Cursos Activos:</strong> {{ cursos_activos }}</p>
                <a href="{% url 'aprendices:lista_cursos' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lista de Aspirantes</h5>
                <p class="card-text">Consulta todos los Aspirantes registrados en el sistema.</p>
                <a href="{% url 'admisiones:panel_coordinador' %}" class="btn btn-success">Ver Lista</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}