{% extends 'base.html' %}

{% block title %}Inicio - SENA APP{% endblock %}

{% block content %}

<div class="card text-center welcome-card">
    
    <img src="https://www.sena.edu.co/es-co/Noticias/NoticiasImg/Aphiton_14agosto2019.jpg" class="card-img" alt="Estudiantes aprendiendo" style="height: 60vh; object-fit: cover;">
    
    <div class="card-img-overlay">
        <h1 class="card-title display-4">Bienvenido a SENA APP</h1>
        <p class="card-text lead">
            Aquí puedes consultar la información de los aprendices  y instructores que se encuentran en el SENA.
        </p>
        <a href="{%url 'aprendices:lista_aprendices'%}" class="btn btn-primary mt-3">Ir a Aprendices</a>
        <a href="{%url 'instructores:lista_instructores'%}" class="btn btn-primary mt-3">Ir a Instructores</a>
    </div>
</div>

{% endblock %}